<fa-app class="full-screen" id="todoapp">

  <fa-modifier id="main-content" fa-size="[550, undefined]" fa-origin="[.5, 0]" fa-translate="[0, 30, 0]">

    <fa-modifier id="notepad" fa-origin="[.5, 0]" fa-translate="[0, 100, 1]" fa-size="[undefined, layout.notepad.height()]">
      
      <!-- Background panel -->
      <fa-surface fa-background-color="'#FFF'"></fa-surface>

      <!-- Red side-stripes  -->
      <fa-modifier fa-origin="[0, 0]" fa-translate="[40, 0, 10]">
        <fa-surface id="red-stripes"
          fa-size="[4, undefined]"
          fa-properties="{'border-left': '1px solid #f5d6d6',
                          'border-right': '1px solid #f5d6d6'}">
        </fa-surface>
      </fa-modifier>
      
      <!-- Header -->
      <fa-surface fa-size="[undefined, 65]">
        <header id="header">
          <h1>todos</h1>
          <form id="todo-form" ng-submit="addTodo(newTodo)">
            <input id="new-todo" placeholder="What needs to be done?" ng-model="todo.newTodo" autofocus>
          </form>
        </header>
      </fa-surface>
 
      <!-- List of existing tasks -->
      <fa-modifier id="todo-list" fa-translate="[0, sizes.topBar.height + sizes.header.height, 1]">
        <fa-modifier
          ng-repeat="todo in todos | filter:statusFilter track by todo.id"
          fa-size="[undefined, sizes.todo.height]"
          fa-translate="getTodoPosition(todo, $index)"
          fa-animate-enter="animateIn(todo, $done)"
          fa-animate-leave="animateOut(todo, $done)"
          fa-origin="[.5, 0]"
          fa-align="[.5, 0]"
          fa-scale="todo.transform.scale.get()"
          fa-transform-order="['translate', 'scale']">
          <fa-modifier id="translation-modifier" fa-translate="todo.transform.translate.get()">
            <fa-modifier fa-translate="[0, 0, -1]"><fa-surface fa-background-color="'#FFF'"></fa-surface></fa-modifier>
            <fa-surface ng-class="{completed: todo.completed, editing: todo == editedTodo}" class="list-item">
              <div class="view">
                <input class="toggle" type="checkbox" ng-model="todo.completed">
                <label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
                <button class="destroy" ng-click="removeTodo(todo)"></button>
              </div>
              <form ng-submit="doneEditing(todo)">
                <input class="edit" ng-trim="false" ng-model="todo.title" todo-escape="revertEditing(todo)" ng-blur="doneEditing(todo)" todo-focus="todo == editedTodo">
              </form>
            </fa-surface>
          </fa-modifier>
        </fa-modifier>
      </fa-modifier>
    </fa-modifier>

    <!-- Footer -->
    <fa-modifier fa-translate="layout.footer.translate()">
      <fa-surface>
        <footer id="footer" ng-show="todos.length" ng-cloak>
          <span id="todo-count"><strong>{{remainingCount}}</strong>
            <ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
          </span>
          <ul id="filters">
            <li>
              <a ng-class="{selected: status == ''} " href="#/">All</a>
            </li>
            <li>
              <a ng-class="{selected: status == 'active'}" href="#/active">Active</a>
            </li>
            <li>
              <a ng-class="{selected: status == 'completed'}" href="#/completed">Completed</a>
            </li>
          </ul>
          <button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear completed ({{completedCount}})</button>
        </footer>
        <footer id="info">
          <p>Double-click to edit a todo</p>
          <p>Credits:
            <a href="http://twitter.com/zackaboo">Zack Brown</a>,
            <a href="http://twitter.com/cburgdorf">Christoph Burgdorf</a>,
            <a href="http://ericbidelman.com">Eric Bidelman</a>,
            <a href="http://jacobmumm.com">Jacob Mumm</a> and
            <a href="http://igorminar.com">Igor Minar</a>
          </p>
          <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
        </footer>
      </fa-surface>
    </fa-modifier>


</fa-app>
